.container{
  display: grid;
}
div{
 text-align: center;
padding: 10px;
font-family: Helvetica;
}
.header{
background-color: black;
}
.menu{
 background-color: red;
}
.hero{
 background-color: royalblue;
}
.main{
 background-color: midnightblue;
}
.banner{
 background-color: goldenrod;
}
.extra{
 background-color: aquamarine;
}
.image{
background-color: rgb(25, 171, 171);
}
.header, .menu, .hero, .main{
 color: aliceblue;
}
@media (width < 425px){
.box{
 display: flex;
  flex-direction: column;
  justify-content: center;
}
 .hero, .main{
 height: 20vh;
}
.banner, .extra, .image{
 height: 10vh;
}
}
@media ( 425px <= width < 768px){
 .container{
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 5vh 25vh 39vh 14vh 13vh;
 }
.box{
 display: flex;
  flex-direction: column;
  justify-content: center;
}
.header, .hero{
  grid-column-start: span 3;
}

.menu{
  grid-column: span 1;
  grid-row: 3/ span 3;
}
.main, .banner{
  grid-column: 2 / 2 span;
}
}
@media(width >= 768px){
 .box{
  display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .container{
  grid-template-columns: 24vw 24vw 20vw 15vw;
  grid-template-rows: 5vh 30vh 12vh 12vh 20vh 16vh;
 }
 .menu{
  grid-column: 2/6;
 }
 .hero{
  grid-column: span 5;
  grid-row: span 2;
 }
 .main{
  grid-column: 1/span 2;
  grid-row: span 2;
 }
 .extra{
  grid-column: 4/ span 1;
  grid-row: 4/ span 2; 
 }
 .image{
  grid-column: 5/ span 1;
  grid-row: 4 / span 2;
 }
 .banner{
  grid-column: 1 / span 5;
  grid-row: 6 /span 1;
 }
}